body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    font-family: Poppins;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

.carta-8 {
    width: 1030px;
    height: 740px;
    background-color: #F4F4F4;
    padding: 50px;
}

.titulo {
    font-size: 38px;
    text-align: center;
    color: #333;
    border: 2px solid #333;
    background-color: #fff;
}

.titulo h2 {
    margin: 15px 0;

}

.contenido {
    display: flex;
    background-color: #fff;
    border: 2px solid #333;
    border-top: none;
    height: 612px;
}

.izquierda {
    padding: 50px;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 444px;
    border-right: 2px solid #333;
    color: #333;
}

.izquierda-arriba {
    margin-bottom: 50px;
}

.izquierda-arriba h3 {
    font-size: 35px;
    font-weight: 500;
    margin: 0;
}

.izquierda-arriba p {
    font-size: 18px;
    color: #333;
}

.izquierda-arriba button {
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #333;
    color: #fff;
    font-size: 17px;
    filter: drop-shadow(6px 6px 0 #000);
}

.izquierda-abajo {
    display: flex;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    padding-bottom: 10px;
}

.izquierda-abajo .numero {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
} 

.izquierda-abajo p {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 300;
}

.raya {
    height: 5px;
    width: 50px;
    background-color: #333;
    margin-bottom: 10px;
}

.lado-derecha {
    width: 620px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.lado-derecha-seccion {
    width: 256px;
    height: 612px;
    overflow: hidden;
}

.contenedor-estrella {
    position: relative;
    right: -30px;
    top: 10px;
    width: 200px;
}

.contenedor-estrella img {
    width: 200px;
    position: relative;
}

.contenedor-estrella p {
    position: absolute;
    width: 120px;
    text-align: center;
    top: 40px;
    right: 40px;
    font-weight: 500;
    font-size: 18px;
}


.lado-derecha-seccion > img {
    background-color: #79BBE3;
    width: 260px;
    height: 410px;
    object-fit: cover;
    position: relative;
    top: 16px;
}

.lado-izquierdo-seccion {
    width: 205px;
    display: flex;
    flex-direction: column;
    gap: 14.2px;
} 

.lado-izquierdo-seccion img {
    width: 255px;
    height: 194.5px;
    object-fit: cover;
    background-color: #b75f5f;
    position: relative;
    right: 50px;
}

.lado-izquierdo-seccion img:nth-child(1) {
    background-color: #EFBDD9;
}

.lado-izquierdo-seccion img:nth-child(2) {
    background-color: #685FD4;
}

.lado-izquierdo-seccion img:nth-child(3) {
    background-color: #D7A94F;
}


.cuadrado {
    width: 280px;
}